<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>防災マップ</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/styles.css" />
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h3>厚木市防災マップ</h3>
    </header>

    <div class="container-fluid">
        <div class="row">
            <!-- 左半分に地図を表示 -->
            <div class="col-md-6">
                <div id="map"></div>
            </div>

            <!-- 右半分に属性情報を表示 -->
            <div class="col-md-6" id="infoTableContainer">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>属性名</th>
                            <th>値</th>
                        </tr>
                    </thead>
                    <tbody id="infoTableBody">
                        <!-- 属性データがここに表示されます -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="footer bg-primary text-white text-center py-3">
        <p>© 2024 AEROASAHI INTERNSHIP</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="../public/main.js"></script>
</body>
</html>
